:root{
	--main-color: #ab7340;
}
body{overflow-x: hidden;
	color: grey;
	font-family: ubuntu;}
@font-face {
    font-family: "ubuntu";
    src: url("../font/");
    src: url("../font/Ubuntu-Regular.ttf") format("truetype")
}
@font-face {
    font-family: "ubuntu-bold";
    src: url("../font/");
    src: url("../font/Ubuntu-Bold.ttf") format("truetype")
}
footer{background-color: black;
		min-height: 100px;}
.montserrat{font-family: 'Montserrat', sans-serif;}
.abril {font-family: 'Abril Fatface', cursive;}
nav .nav-link{font-family: 'Montserrat', sans-serif;
				font-weight: 500;}
.parentNav .nav-tabs .nav-link {font-family: 'Montserrat', sans-serif;}
.btn-3course{background-color: var(--main-color);
			color: white !important;}
.btn-3course:hover {background-color: #6e4321;}
.btn-3course:active {background-color: black;}
h5{ color: var(--main-color); }
a{color: var(--main-color);}
a:hover{color: #6e4321;
		text-decoration: none;}
.textRight{text-align: right;}
.textLeft{text-align: left;}
.textCenter{text-align: center;}
.textJustify{text-align: justify;}
.makeBold{font-weight: bold;}
.blogImg{ height: 313px; }
.blogImg{width: 100%;
		}
.blogImg img{width: 100%;
				height: 100%;}
.blogP{max-height: 100px;
		overflow-y: hidden;}
.blog{margin: 50px;}
.small-img{height: 180px;
		    width: 100%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-color: rgba(0, 0, 0, 0.48);
		    background-blend-mode: color-burn;
		    background-position-y: center;}
.giveShadow{box-shadow: 0px 0px 18px -6px grey;}
.booking{padding: 40px 80px 80px 50px;
    	margin: 20px 65px 65px 50px;
    	background-color: white;}
.removeTop{margin-top: -8em;
			z-index: 1020;}
.whiteText{ color: white; }
.about-img{width: 100%;
			height: 255px;}
.about-img{width: 100%;
			height: 100%;}
.contactDiv{margin: 50px 20px 20px 40px;
			padding: 0px 80px;}
.parentNav .nav{display: inline-flex ;}
.parentNav .nav-tabs {
    border-bottom: none;
    text-align: center;
}
.parentNav .nav-tabs .nav-item{font-weight: bold;}
.parentNav .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--main-color) !important;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}
.check-table{background-color: #f0f0f0;}
.moveDown{margin-bottom: 40px;
		 margin-top: -20px;}
.parentNav .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: black;
}
.parentNav .nav-tabs .nav-link{
	color: #495057;
}
.form-control{border-radius: 0px;}
.btn{border-radius: 0px;}
.fa-plus, .fa-minus{background-color: var(--main-color);
			padding: 7px;
		    border-radius: 100%;
		    color: white;
		    box-shadow: 0px 2px 14px -6px #535252;}
.reduceFont h6{font-size: 11px;
				margin-bottom: 3px;}
.reduceFont p{font-size: 10px;
			  margin-bottom: 3px;}
.giveBorder{border: 1px solid #eae8e8;
			padding: 5px;
			}
.plusButton{font-size: 10px;}
.fixHeight{height: 100%;}
.giveHeight{height: 81px;}
.removeLeft{padding-right: 0px;}
.bookText{height: 92px;}
.mobileApp{background-color: var(--main-color);
		   height: 420px;
			color: white;}
.testimonials{height: 400px;
			background-image: url(../img/fish.jpeg);
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 80px;}
.testimonials > div{height: 100%;}
.testimonials .carousel {height: 100%;}
.testimonials .carousel-item { background-color: rgba(0, 0, 0, 0.57);
    					height: 100%;
    					text-align: center;}
.testimonials .carousel-inner {
	height: 100%;
}
.checked{color: #e1b77b;}
.blog .col-md-6 {
	    padding-left: 50px;
    padding-right: 50px;
}
.googlePlay{margin: 30px;
			margin-top: 50px}
.navbar-brand{width: 100px;
		height: 70px;}
.navbar-brand img{height: 100%;}
.bg-white{background-color: white}
.nav-link.active{color: var(--main-color) !important;}
.input-group-text{border-radius: 0px;
				 background-color: inherit;
				 border-left: 0px solid transparent;}
.blogInput{ border-right: 0px; 
			}
.blogPadding{padding: 1.2rem .7rem;}
.blogDetailsImg {height: 415px;
				width: 100%; }
.blogDetailsPadding {padding: 0px 40px;}
.blogBottom {margin-bottom: 60px;}
.blog-list li{margin-bottom: 30px;}
.image-size{width: 100%;
			height: 100%;}
.blogAuthor{width: 100%;
			border: 1px solid grey;
			height: 120px;}
h3{color: black;
	font-family: ubuntu-bold;}
h1.success {color: black;
			font-size: 50px;}
.makeBlack {color: black;
			}
.dropdownp {font-size: 11px;}
.increaseWidth {min-width: 11rem !important;
				padding: 5px;}
.dropTop {margin-top: -15px;}
.dropdown-item {color: var(--main-color);}
.makeGrey {color: grey;}
.order-table td, .table th {
    padding: 0.65rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}
.contentDiv{position: absolute;}
#map {
    width: 100%;
    height: 347px;
    background-color: grey;
}
#contact{margin-top: 150px;}
.dropdown-toggle::after{
	border: 1px solid transparent;
}
.main-nav .nav-link{margin: 0px 10px;}
.cartHeight{height: 55px;}
.dropBasket{padding: 4px 7px;}
.cartFont p{ font-size: 10px;
			white-space: initial;
			margin-bottom: 2px; }
.dropCart{ width: 100%;
    background-color: white;
    padding: 4px;}
.dropCart .row {width: 100%;
				margin-left: 0px;
				margin-right: 0px;}
.cartFont .fa-plus, .fa-minus{padding: 4px;}
.dropCart .removeLeft{padding-left: 0px;}
.basketDrop{
	    left: -65px;
    	width: 15rem !important;
}
.cartFont .fa-times{position: absolute;
	    top: 0;
	    right: 0;
	    color: rgba(128, 128, 128, 0.48);}
.dropdown-item button{width: 200px;}
.dropdown-item table {
	    width: 100%;
    font-size: 13px;
}
.dropdown-item table td{color: var(--main-color);
						text-align: right;}
.tableTop {border-top: 1px solid #dee2e6;
			margin-top: 20px;}
.giveBottom {margin-bottom: 10px;}
.dropPad {padding: 15px;}
.addrP-Margin p{margin-bottom: 2px;}
.signupModal{padding: 0px 40px;}
.btn-facebook{background-color: #3b5998;
			 color: white;}
.btn-facebook:hover{background-color: #3b5998;}
.btn-facebook:active{background-color: #3b5998;}
.btn-google{background-color: white;
			color: grey;}
.signupModal form > div {margin-bottom: 15px;}
.banner .carousel-indicators {
    position: absolute;
    right: 0;
    top: 40%;
     left: auto; 
    z-index: 15;
    display: -ms-flexbox;
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 4%;
     margin-left: 0px; 
    list-style: none;
}
.banner .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 20px;
    border-radius: 100%;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}
.banner {z-index: -20;}
.banner .carousel-item{z-index: -1;
						}
.banner .carousel-caption{position: absolute;
					    top: 0;
					    bottom: 0;
					    right: 0;
					    left: 0;
					    width: 100%;
					    background-color: rgba(0, 0, 0, 0.47);}
.banner .carousel-caption > div {margin-top: 200px;}
.agree{    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 2px;}
.banner .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 88vh;
    
}
.makeSpace{margin-top: 70px;}

.food{margin-top: 40px;
	 margin-bottom: 30px;}
.increaseFont h4{font-weight: bold;
}
.increaseFont h6{color: var(--main-color);
					margin-top: 18px;}
.modalPlus .fa-minus, .fa-plus{padding: 11px;
    						font-size: 15px !important;}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--main-color);
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}
.makeWhite {color: white;}
.parentNav .giveBorder{
		margin-bottom: 20px;
	}

	.checkout-head{ width: 100%;
					position: relative; }
	.checkout-head img{width: 100%;}
	.checkout-head h2 {position: absolute;
					    top: 60px;
					    left: 0;
					    right: 0;
					    text-align: center;}
	.checkout-collapse .card-header{ background-color: var(--main-color); }
	.checkout-collapse .card-header .btn-link:hover {
							    color: #6e4321;
							    text-decoration: none;
							    background-color: transparent;
							    border-color: transparent;
							}
	.checkout-collapse .card-header .btn-link {
							    font-weight: 400;
							    color: #6e4321;
							    background-color: transparent;
							}
	.checkout-collapse .card-header .btn-link:focus {text-decoration: none;}
	.check-order .card-header {
			    padding: .90rem 1.25rem;
			    margin-bottom: 0;
			    background-color: rgba(0,0,0,.03);
			    border-bottom: 1px solid rgba(0,0,0,.125);
			    background-color: var(--main-color);
			    color: white;
			}
	.check-table table{width: 100%;}
	.check-table table td, th{padding: 0.65em;}
	.check-table{padding: 20px;
				}
	.changeColor {color: var(--main-color);}
	.tab-pane .plusButton .fa-plus{
		padding: 5px !important;
		font-size: 9px !important;
	}
	.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--main-color) !important;
	}
	.reducePlus{font-size: inherit !important;}
	.removeHighlight:hover{border-color: transparent;
						background-color: transparent;}
	.removeHighlight:active{border-color: transparent;
						background-color: transparent;}

@media (max-width: 500px){
	.firstbook {margin-top: 82px !important;}
	.firstbook .makeSpace{ margin-top: 25px; }
	.banner .carousel-inner{ height: 56vh; }
	.banner .carousel-item{height: 100%;}
	.banner .carousel-item img{ height: 100%; }
	.banner .carousel-caption > div {
	    margin-top: 120px;
	}
	.banner .carousel-caption > div h1{font-size: 1.4rem;
										font-weight: bold;
										margin-bottom: 0px;}
	.banner .carousel-caption > div p{font-size: 11px;
								    	margin-bottom: 0px;}
	.banner .carousel-indicators {top: 50%;}
	.booking {
    padding: 10px 11px;;
    margin: 20px 25px 65px 25px;
    background-color: white;
		}
	.blog{margin: 0px;}
	body {
    position: relative;
    overflow-x: hidden;
    color: grey;
    font-family: ubuntu;
	}
	.contactDiv{
		padding: 0px;
		margin: 0px	;
	}
	.blog .col-md-6 {
    padding-left: 20px;
    padding-right: 20px;
	}
	.signupModal{
		padding: 0px;
	}
	.banner .carousel-indicators li{
		width: 7px;
		height: 7px;
		margin-top: 6px;
	}
	.googlePlay h1{ font-size: 23px; }
	.googlePlay p{font-size: 14px;}
	.testimonials .carousel-caption p{font-size: 12px;}
	.testimonials .carousel-caption .fa-2x{font-size: 1rem}
	.testimonials .carousel-caption h3{ font-size: 20px; }
	.parentNav .nav-tabs .nav-link {
    color: #495057;
    font-size: 10px;
	}

	.moveDown{
		margin-top: 0px;
	}
	.modal table{width: 100%;
				font-size: 13px;}
	.modal table td{color: var(--main-color);
						text-align: right;}
	.cartFont .fa-plus{ font-size: 10px !important; }
	.bookevent {font-size: 10px;}
	#contact {
    	margin-top: 50px;
	}
	.blogDetailsPadding {
	    padding: 0px;
	}
	.blogAuthor{ width: 100px;
				margin:0 auto; }
	.author{text-align: center;}
	.checkout-head h2 {
	    position: absolute;
	    top: 20px;
	    left: 0;
	    right: 0;
	    text-align: center;
	    font-size: 1rem;
	}
	#default-add .pull-right{float: none;
						margin-bottom: 30px;}
}
@media (min-width: 501px) and (max-width: 765px){
	.banner .carousel-inner{ height: 56vh; }
	.banner .carousel-item{height: 100%;}
	.banner .carousel-item img{ height: 100%; }
	.banner .carousel-caption > div {
	    margin-top: 120px;
	}
	.banner .carousel-caption > div h1{font-size: 1.9rem;
									margin-bottom: 0px;
										font-weight: bold;}
	.banner .carousel-caption > div p{font-size: 15px;
								    	margin-bottom: 0px;}
	.banner .carousel-caption > div a {margin-top: -10px;}
	.banner .carousel-indicators {top: 50%;}
	.booking {
    padding: 10px 11px;;
    margin: 20px 25px 65px 25px;
    background-color: white;
		}
	.blog{margin: 0px;}
	body {
    position: relative;
    overflow-x: hidden;
    color: grey;
    font-family: ubuntu;
	}
	.contactDiv{
		padding: 0px;
		margin: 0px	;
	}
	.blog .col-md-6 {
    padding-left: 20px;
    padding-right: 20px;
	}
	.signupModal{
		padding: 0px;
	}
	.banner .carousel-indicators li{
		width: 7px;
		height: 7px;
		margin-top: 6px;
	}
	.googlePlay h1{ font-size: 40px; }
	.googlePlay p{font-size: 18px;}
	.testimonials .carousel-caption p{font-size: 14px;}
	.testimonials .carousel-caption .fa-2x{font-size: 1rem}
	.testimonials .carousel-caption h3{ font-size: 20px; }
	.parentNav .nav-tabs .nav-link {
    color: #495057;
    font-size: 10px;
	}

	.moveDown{
		margin-top: 0px;
	}
	.modal table{width: 100%;
				font-size: 13px;}
	.modal table td{color: var(--main-color);
						text-align: right;}
	.cartFont .fa-plus{ font-size: 10px !important; }
	.bookevent {font-size: 10px;}
	#contact {
    	margin-top: 50px;
	}
	.blogDetailsPadding {
	    padding: 0px;
	}
	.blogAuthor{ width: 100px;
				margin:0 auto; }
	.author{text-align: center;}
	.checkout-head h2 {
	    position: absolute;
	    top: 20px;
	    left: 0;
	    right: 0;
	    text-align: center;
	    font-size: 1rem;
	}
	#default-add .pull-right{float: none;
						margin-bottom: 30px;}
	.firstbook {margin-top: 82px;}
	.firstbook .makeSpace{ margin-top: 25px; }
}
@media (min-width: 765px ) and (max-width: 975px){
	.blogDetailsImg {
    height: 263px;}
}